.about {
	max-width: 650px
}
h1 {
	font-size: 48px;
	color: white;
}
h2 {
	font-size:25px;
	font-variant-ligatures: none;
}
p {
	font-size: 20px;
	line-height: 140%;
	font-weight: 300;
}
a:link {
	color: black;
	text-decoration: none;
	font-weight: 700;
	
}
a:visited {
    color: black;
    text-decoration: none;
 	font-weight: 700;
}
a:hover {
	text-decoration: none;
	font-weight: 700;
	background-color: #F9E6E6;
  	transition: 0.4s; 
}
h3 {
	text-align: center;
	color: black;
	font-size: 24px;
	line-height: 30px;
	font-weight: 400;	
}

body {
 	font-family: 'Nunito', sans-serif;
 	background-color: #FCD1D1;
}

.about {
	padding:5% 15%;

}
.h_line { 
	width:30%; 
	height:1px; 
	margin: auto;
 }

@media (max-width: 900px) {
  .about {
	padding:5% 10%;
} 

@media (max-width: 400px) {
 h1 {
	font-size: 40px;
	color: white;
}
} 